[General]

# Setting type: String
# Default value: um-UM
LastLanguage = um-UM

# Setting type: String
# Default value: true
activeDubbing = true

# Setting type: String
# Default value: true
extraDubbing = true